@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

:root{
  --background-color: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
*{
  font-family: 'Inria Sans', sans-serif;
  color: rgba(62, 98, 103, 0.897);
}
body{
  background: var(--background-color);
  background-attachment: fixed;
  
}


.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.shopTitle h1{
  text-decoration:underline;
  font-weight:bold;
}
.products {
  width: 100%;
  padding:30px;
  gap:40px;
  display: flex;
  justify-content:start;
  flex-wrap: wrap;
}

.product {
  background-color:rgb(224, 223, 223);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center; 
   width:auto;
   border-radius:50px;
   padding:10px;
}

.product img {
  width:300px;
  height:250px;
  object-fit:contain;
  border-radius:50px;
  background-color: rgb(255, 243, 243);
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
