
.navbar {
  width: 100%;
  padding: 20px;
  background:rgba(0, 0, 0, 0.010);
  box-shadow:0px 2px 13px grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: rgba(62, 98, 103, 0.897);
  margin-left: 20px;
  font-size: 25px;
}
